[2017-11-29 22:17] ataylorme opened #1 "Terminus version out of date"
This is causing CircleCI build to fail. I've opened [terminus-build-tools-plugin #121](https://github.com/pantheon-systems/terminus-build-tools-plugin/issues/121) to address this going forward but we should keep the image up to date so existing projects stop failing. This was a blocker on Jump Start training for me today.

[2018-02-24 21:10] dearmond opened #2 "Add google-chrome, selenium, and chromedriver"
Otherwise behat `@javascript` won't run.

[2018-03-10 00:19] jraviotta opened #3 "Need usage documentation"
I would like to add this image to my local dev environment. It would be helpful if the README included usage examples.

I use the docker4drupal docker-compose.yml template and have included the following:
[code]
This builds the container, but I can't seem to call terminus from the php container. I would appreciate a nudge in the right direction. Thanks

[2018-03-12 14:35] jraviotta commented on #2
Try adding these services to your docker-compose.yml
[code]

[2018-03-14 18:02] jraviotta opened #5 "Build tools in docker container cannot read git email address"
I have successfully included the docker image from Quay in my docker4drupal app with the following docker-compose file that references valid variables in a .env file.
[code]
I can call terminus and initiate a build with the following command:
[code]
Terminus asks for password and agency then fails with:
[code]
I can override the error by setting `--email=<myemail>@provider.com` and the build proce

[2018-03-14 18:08] jraviotta opened #6 "Build tools in docker container fail to commit to GitHub"
I have successfully included the docker image from Quay in my docker4drupal app with the following docker-compose file that references valid variables in a .env file.
[code]
I can call terminus and initiate a build with the following command:
[code]
Terminus asks for password and agency then fails with:
[code]
I can override the error by setting `--email=<myemail>@provider.com` and the build proce

[2018-03-14 19:11] jraviotta commented on #6
sorry browser timed out and this is a duplicate

[2018-03-14 19:11] #6 closed

[2018-03-14 19:57] jraviotta commented on #5
I was able to place my local `.gitconfig` file in the container by specifying a bind mounted volume in the terminus container as such:
[code]
Terminus wanted a password for git, so I also had to set ssh as the default in my local global .gitconfig with:
[code]
This got me to the point of committing to pantheon where i was prompted to add the RSA key fingerprint to known hosts. Entering 'yes' led t

[2018-03-15 12:24] jraviotta opened #7 "Build tools create public GitHub repo"
This May be an issue with the build tools in general.

When executing a new build in the Docker container, a public GitHub repo is created. I would prefer that the visibility be set to private by default. I am more likely to use build tools for client sites that open source projects. Moreover, I usually have to debug the build multiple times before I would ever want to share with collaborators.

[2018-03-15 12:33] jraviotta opened #8 "Docker build tools create yet another GitHub repo"
When using the docker4drupal workflow, it is customary to commit the docker-compose, Docker.mk, and other environment building files to the same repo as the site code.

When using docker build tools, terminus creates a new GitHub repo for the site. This behavior is not terrible, but it does add complexity as the new cannonical site repo needs to be set up as a submodule in a parent docker repo for

[2018-03-16 16:48] jraviotta opened #9 "Docker build tools ci container generates incorrect urls for GitHub badges"
The Badges that appear on the GitHub project are incorrect.
CircleCi badge image is not found but link does lead to the correct project.
![jraviotta aquiot_gui_ci](https://user-images.githubusercontent.com/3618365/37533417-2f0d0926-2918-11e8-96ff-edadc17fcbf3.png)
Pantheon dashboard badge works.
Dev site badge url does not work
The project name has underscores `my_project_ci`
Terminus creates a pr

[2018-03-24 20:28] #9 closed

[2018-03-24 20:29] #8 closed

[2018-03-24 23:20] greg-1-anderson commented on #7
This is a feature request for the Terminus Build Tools plugin

[2018-03-24 23:20] #7 closed

[2018-03-24 23:21] greg-1-anderson commented on #2
A tested pull request would be welcome.

[2018-10-02 22:21] wilburec opened #12 "Update to use PHP 7.2"
We are using CircleCI as part of our build process.  Asw e move to PHP 7.2 on Pantheon, we need this repo to use a PHP 7.2 image.

[2019-02-26 12:21] ataylorme opened #17 "Keep installed items up to date"
In order to keep the installed binaries, such as Terminus, Terminus plugins, and Headless Chrome, up to date the Dockerfile needs to periodically be rebuild.

I suggest we use [a scheduled CircleCI job](https://circleci.com/docs/2.0/triggers/#scheduled-builds) to trigger builds [via the quay.io API](https://docs.quay.io/api/).

[2019-02-26 12:24] ataylorme commented on #17
@greg-1-anderson I would love your thoughts on how we would tag images with this approach. For example, build tools is moving to the `4.x` tag.

If that tag were to rebuild daily, there is a chance the updated binaries could break things.

Perhaps we could have a `4.x-nightly` tag that is automatically built, set up some more thorough testing, either manual or automated, to ensure compatibility, t

[2019-02-26 14:10] greg-1-anderson commented on #17
I prefer manual updates here. I don't think there is a large need for CI tasks to use the most recent version of the tools. On the flip side, there is a need for CI tasks to be stable for as long as possible.

I think that in situations when we know there is a strong need to update the container, e.g. for a bugfix, we can manually rebuild. We bump the major version (e.g. to 4.x) when making an inc

[2019-02-26 14:44] ataylorme commented on #17
Okay, aside from build tools updates, I would like to re-run the build periodically to get the latest Chrome, even when there is no build tools activity.

[2019-02-26 14:44] #17 closed

[2019-02-26 16:21] greg-1-anderson commented on #17
Hm, wish there was a better way to use headless chrome from a separate docker image. I don't want to have to re-run the build here just to get a newer chrome.

[2019-02-26 16:27] ataylorme commented on #17
We could start from the Behat Chrome Driver `Dockerfile` at [`DMore/docker-chrome-headless`](https://gitlab.com/DMore/docker-chrome-headless/blob/7.2/Dockerfile) but then we wouldn't have Drush, Composer and some of the other things from `drupaldocker/php:7.2-cli` so would need to install those manually.

That seems more like a lateral move than an improvement

[2019-02-26 16:51] greg-1-anderson commented on #17
I meant running headless chrome in a separate server, the same way that you set up a mysql server for Drupal testing on Circle.

[2019-02-26 16:53] ataylorme commented on #17
That would be fine too but we would still need to maintain a `Dockerfile` with headless Chrome and Terminus in it.

Even if we split out the Behat preparation to its own job and had a job that only ran Behat we would still need Terminus since we are using `terminus wp` as the binary for the WordHat `wp-cli` driver.

[2019-03-28 03:23] ccjjmartin opened #18 "Upstream image issues"
@greg-1-anderson It looks like any debian jessie based images are not working due to jessie being EOL'ed and repo sources being unavailable.  There is a discussion about this happening on CircleCI here: https://discuss.circleci.com/t/apt-get-update-failing-on-debian-8-jessie-based-convenience-images/29257/3

They are working on fixing CircleCI maintained images but since this image is maintained b

[2019-03-28 03:50] greg-1-anderson commented on #18
At the moment, we are only maintaining the 4.x and 3.x branches. The base image we are using is:
[code]
It might be that rebuilding the 1.x branch would be sufficient to fix this; however, the 1.x and 2.x branches are currently broken due to https://github.com/pantheon-systems/terminus-build-tools-plugin/pull/184. We'd have to merge that and make a new Terminus Build Tools 1.x release and then reb

[2019-03-28 05:04] ccjjmartin commented on #18
@greg-1-anderson I was thinking about a way to indicate to devs that they should upgrade to a maintained branch (Is there anything to indicate this right now)?

I wonder if removing the tag from the repository (quay.io) would be a way of doing this?  It would break everyones builds immediately on old branches.  Another method might be to release one more build on old images that errors out with a

[2019-03-28 05:12] greg-1-anderson commented on #18
I don't like the idea of deliberately breaking old builds, but I think that https://github.com/pantheon-systems/terminus-build-tools-plugin/pull/184 has that effect, or at least not merging it does.

Printing a message about the deprecation is a good idea, but folks are not likely to see informative messages that are collapsed inside of passing (green) blocks.

I just set the default branch from `

[2019-03-28 05:28] ccjjmartin commented on #18
Thanks for the response, I think we can leave this issue open for a day or 2 for other people that run into the 404 errors I did and then we can close it.

[2019-06-17 16:49] ataylorme opened #26 "CircleCI Base Image"
[CircleCI maintains many Docker images](https://hub.docker.com/u/circleci), including Node and PHP, both with variants having browsers installed. They also take care of creating an unprivileged user.

I think using `circleci/php:7-node-browsers` as a base could be beneficial, rather than installing Headless Chrome (required for Behat) ourselves.

Having Node available could also consolidate so we

[2019-06-17 21:52] ataylorme commented on #26
Per meeting with @greg-1-anderson and @stevector this sounds like a good idea. I'll explore moving forward after I return from WCEU

[2019-06-20 02:01] mrdavidburns commented on #26
+1 for having node included. Just spent a decent amount of time getting it installed with `docker-build-tools-ci` so that I could compile Sass.

[2019-06-22 03:24] ataylorme commented on #26
@mrdavidburns have you tried using a Node image for a stand-alone job to compile Sass then persisting the output to a deploy job? The benefit to that approach is you can run the Composer build and Node build in parallel, then take the artifacts from both and run a deploy job. This will be quite a bit faster than one monolithic job building Composer and Node artifacts in sequence.

[Here is an exam

[2019-06-23 16:51] ataylorme commented on #26
@mrdavidburns I have a PR open for this (#27). You can test the CircleCI PHP + Node + Browser image by using `quay.io/pantheon-public/build-tools-ci:from-circleci-php`. I've successfully run `gulp`, `lighthouse`, and other Node tasks with it.

Having you try it for a second +1 would be great.

[2019-06-27 20:32] ataylorme commented on #2
Version `5.x` added headless Chrome. See [`example-wordpress-composer`](https://github.com/pantheon-systems/example-wordpress-composer) as a reference example of Behat tests running on headless Chrome using the Chrome driver (not Selenium) which has JavaScript support.

[2019-06-27 20:32] #2 closed

[2019-06-27 20:32] ataylorme commented on #18
I'm going to close this out since it has been a few months with no activity.

[2019-06-27 20:32] #18 closed

[2019-08-24 00:34] #26 closed, assigned to ataylorme

[2019-08-24 00:36] ataylorme opened #32 "Don't auth with Terminus"
[`terminus auth:login`](https://github.com/pantheon-systems/docker-build-tools-ci/blob/6.x/scripts/set-environment#L102) shouldn't be called in the Dockerfile.

1) Not all CI jobs need it
1) If a CI process saves and re-uses the `bash_env` it won't run and need to be run in the CI job anyway

[2019-08-24 00:38] ataylorme opened #33 "Don't re-install Build Tools"
The `6.x` tag currently [re-installs Build Tools in a different version if requested](https://github.com/pantheon-systems/docker-build-tools-ci/blob/6.x/scripts/set-environment#L132:L137)

We should just stick with the latest tagged version in this Dockefile.

[2019-08-30 15:36] sean-e-dietrich opened #35 "Can no longer merge master branch in and push to dev"
I'm not sure if this is a bug to file here or to file with https://github.com/pantheon-systems/terminus-build-tools-plugin

The following change https://github.com/pantheon-systems/terminus-build-tools-plugin/pull/227 no longer allows for code to be merged in CI if committing to the master branch as the default branch becomes `dev`

Running the following command

[code]
produces the following outp

[2019-08-30 20:32] ataylorme commented on #35
@sean-e-dietrich thanks for opening an issue. It’s probably better suited for Build Tools but I’ll answer here.

Yesterday, I updated the 6.x branch of this Dockerfile to the latest Build Tools beta that has the change you are referring to.

This change was intentional as folks were having their DB and files wiped out when build:env:create and deploying to dev with the clone content flag.

Our exa

[2019-08-30 21:11] greg-1-anderson commented on #35
In the past, `build:env:create` automatically reverted to `build:env:push` if the target multidev did not exist. Changing that behavior is not great for existing users. Of course, data-loss bugs are not great either.

Perhaps we should make `build:env:create` revert to just a push if the source and target environment are both `dev`, and maintain the current failure state if they are equal, but som

[2019-08-30 22:16] ataylorme commented on #35
We could just skip clone content, regardless of the option value, if the environments are the same and continue to push code

[2019-08-30 22:18] sean-e-dietrich commented on #35
I am a fan of the skipping clone content option. We have experienced similar issues  where our environments are wiped when all we wanted to do was just push code changes.

[2019-08-30 23:05] ataylorme commented on #35
I’m not at the computer and will make a PR next week if one of you doesn’t beat me to it 😀

[2019-09-03 17:14] ataylorme commented on #35
@sean-e-dietrich this has been fixed by [`248`](https://github.com/pantheon-systems/terminus-build-tools-plugin/pull/248) and Build Tools [`2.0.0-beta15`](https://github.com/pantheon-systems/terminus-build-tools-plugin/releases/tag/2.0.0-beta15) has been released.

The `6.x` tag of [`pantheon-systems/docker-build-tools-ci`](https://github.com/pantheon-systems/docker-build-tools-ci/) has been updat

[2019-09-04 01:03] jfussion opened #36 "Composer dependency conflict"
On fresh install, I got the following error:

[code]

**Steps To Reproduce:**
Created new site using this command:
[code]

**Known Workarounds:**
Downgrade image to 5.x

[2019-09-04 02:54] greg-1-anderson commented on #36
Do you get the error above in CircleCI, or as part of the output of `build:project:create`? The workaround implies the former.

Is TERMINUS_BUILD_TOOLS_VERSION defined anywhere?

[2019-09-04 03:15] ataylorme commented on #36
It seems you’ve installed Build Tools with dev dependencies. How did you install it? If you used Composer, try doing an install without dev dependencies

[2019-09-04 03:49] jfussion commented on #36
@greg-1-anderson
I didn't define that somewhere.

@ataylorme I installed build tools plugin without dev dependencies.

Also, the error is from the ci build not on my local.
Here's the screenshot: https://monosnap.com/file/umiiVd6zgabkMMeyKcTkWSXbnMGYTI

[2019-09-04 03:50] jfussion commented on #36
I pushed again to my master branch and the build failed again with the same error on command `deploy to pantheon`.

[2019-09-05 14:36] ataylorme commented on #36
Just to follow up CI providers cache Docker images and you may need to clear that cache to get the fix. For CircleCI, see [this article](https://support.circleci.com/hc/en-us/articles/360007406013-How-can-I-remove-my-cached-docker-layers-)

[2019-09-05 15:04] ataylorme commented on #36
For some more background, when installing Terminus and Build Tools they need to be installed with `--no-dev` to avoid this error. A previous version of our Dockerfile here was not doing that.

Beta 15 of Build Tools added some unit tests, and more dev dependencies, which is why the conflict is surfacing now and did not appear in previous versions of the Dockerfile.

[2019-09-06 17:55] acrosman opened #37 "bcmath missing, required for Commerce > 2.14"
Following the instructions from https://pantheon.io/docs/guides/drupal-8-commerce
Under the section for Install Drupal Commerce, step 5 fails during static because the bcmath php extension is not enabled in the docker image.

Static test failure output:
[code]

[2019-09-06 18:34] acrosman commented on #37
New build just arrived on my dashboard just like it should.  Thanks for jumping on this.

[2019-09-06 18:34] #37 closed, assigned to nobody

[2019-09-06 19:27] greg-1-anderson commented on #37
There was just a report in slack that this did not work. Need to go AFK for a while, but may need to back this out.

[2019-09-06 19:51] acrosman commented on #37
I'm getting what looks to me like an unrelated issue from the commerce base profile installation process I'm looking at now (although it's not a blocker for me the way this was since I can get to that stage now and couldn't before).

[2019-09-06 21:46] greg-1-anderson commented on #37
Looks like the person in slack coincidentally NEEDED bcmath, but had an older image without it cached. After a rerun, this PR solved his problem.

[2019-09-09 20:22] ccjjmartin opened #40 "Wasting Pantheon Resources"
FYI, this line and the few lines following it are most likely wasting a lot of resources at Pantheon:

https://github.com/pantheon-systems/docker-build-tools-ci/blob/1.x/scripts/set-environment#L23

The reason for this being that a normal workflow involves developers pushing code up to GitHub which creates a new branch on GitHub and triggers the creation of a multidev with a name of `ci-??` this p

[2019-09-09 20:33] ataylorme commented on #40
Hi @ccjjmartin,
Thanks for opening the issue and starting a discussion. We tried approaches similar to what you are doing, trimming the branch name into a multidev compatible name. The issue we found, however, is that there can be collisions. For example, `fix/composer-item-1` and `fix/composer-item-2` would both be trimmed to `fix-compose`.

The reference you have is to the `1.x` tag of this Dock

[2019-09-09 20:44] ccjjmartin commented on #40
Found it: https://github.com/pantheon-systems/docker-build-tools-ci/blob/6.x/scripts/set-environment#L46

Looks much better, the PR workflow makes sense.  Last time I looked at this repo I think 4.x was the latest version but we were unable to upgrade because it dropped nodejs support and instead we had to use the `nodejs` branch / image.  Was nodejs support added in 5.x or 6.x?

Have you consider

[2019-09-09 20:45] ccjjmartin commented on #40
The README seems to indicate yes:

`6.x: Use a CircleCI base image with Node JS`

I will give it a shot and see how it goes.

[2019-09-09 20:47] ataylorme commented on #40
The `6.x` image [is based on `circleci/php:7.3-node-browsers`](https://github.com/pantheon-systems/docker-build-tools-ci/blob/6.x/Dockerfile#L2) so it has PHP, NodeJS and headless browsers from that plus Terminus, Build Tools , and the other items we add.

Also, you don't have to use the `/build-tools-ci/scripts/set-environment` script at all and are free to create your own. You will just need to

[2019-09-09 20:55] ccjjmartin commented on #40
Is there an example config.yml I can look at that uses the 6.x branch?  I looked in the drops-8 repo but it looks like it is using 3.x.  https://github.com/pantheon-systems/drops-8/blob/default/.circleci/config.yml#L3

[2019-09-09 21:03] ataylorme commented on #40
[`pantheon-systems/example-drops-8-composer`](https://github.com/pantheon-systems/example-drops-8-composer) is the D8 example

[2019-09-11 16:05] aaronbauman commented on #36
I'm using the latest "bleeding-build-tools" tag and still getting this error.
5.x with build tools dev-master does not exhibit this error.

[2019-09-11 17:02] ataylorme commented on #36
@aaronbauman I just tagged beta 16 of Build Tools and updated the `6.x` tag of the Dockerfile.

Commits [`6989a66`](https://github.com/pantheon-systems/docker-build-tools-ci/commit/6989a66ee2fed56304a99ea631fd13296e88e0d0) and [`dcc24df`](https://github.com/pantheon-systems/docker-build-tools-ci/commit/dcc24df34ccae51ea51fd5b6831f1a3f01de4d3bhttps://github.com/pantheon-systems/docker-build-tools-c

[2019-09-11 18:18] aaronbauman opened #42 "GIT_FILE_MODIFIED() method fails, resulting in visual regressions not running"
Not sure if this issue is limited to bitbucket, but GIT_FILE_MODIFIED() bash function is failing during  `./.ci/test/visual-regression/run` with the following error:
[code]

This results in viz reg never being run.

Here's an example: https://bitbucket.org/messageagency/pipe-test/addon/pipelines/home#!/results/32/steps/%7B88f65e38-88e5-4027-a9d0-ecefb7ad5e70%7D

[2019-09-11 18:18] aaronbauman commented on #42
wait, sorry, wrong project.

[2019-09-11 18:18] #42 closed, assigned to nobody

[2019-09-12 13:21] ccjjmartin commented on #40
@ataylorme Thanks for the help here.  I ended up having to create a custom image based on this one.  If you are interested in why:

1) This image was missing the bsdtar package and patternlab (an npm package wouldn't extract itself without it)
2) Node 10 wasn't working for me so I had to set node back to version 8.
3) The build tools plugin was giving me error messages, I think it is installed as

[2019-09-12 13:21] #40 closed, assigned to ataylorme

[2019-10-11 13:34] aaronbauman opened #45 "Commits to master get pushed to pantheon prior to completing tests"
Scenario:
- push to master
- build the site
- tests fail

Expected behavior:
- nothing gets pushed to pantheon

Observed behavior:
- changes get pushed through to pantheon even though failing tests should block the push

I believe this is a regression between 4.x (or maybe 5.x) to 6.x.
Will investigate and post a PR.

[2019-10-11 13:51] aaronbauman commented on #45
This is a multi-project issue between the docker image set-environment script (this repo) and the example-drops project.

Specifically, the default behavior was changed around the time of this commit:
https://github.com/pantheon-systems/example-drops-8-composer/pull/255

Specifically, DEFAULT_ENV was changed from `ci-$CIRCLE_BUILD_NUM` to `dev` and "prepare site under test" routine was changed fro

[2019-10-11 14:00] greg-1-anderson commented on #45
I believe @ataylorme advocated for and made this change.

[2019-10-11 14:02] greg-1-anderson commented on #45
Maybe documentation updates are required?

Is this causing any problems with your workflow, e.g. with multiple developer flows, etc?  I believe the motivation is that with 5+ min tests, PR merges were very slow.

Note that the master branch of your GitHub repository is updated before tests run.

[2019-10-11 14:04] aaronbauman commented on #45
It's not a huge problem for our workflow, but was unexpected when we changed versions.
Is the discussion behind this public on github somewhere?
Just want to get all my team on the same page.

[2019-10-11 14:29] ataylorme commented on #35
Closing due to inactivity. Please re-open if you are still experiencing problems with the latest versions of Build Tools and the Dockerfile

[2019-10-11 14:29] #35 closed, assigned to nobody

[2019-10-11 14:35] ataylorme commented on #45
I advocated for this because:

- The workflow we encourage is to use feature branches and only approved changes get merged to `master`. Nothing should go into `master` that isn't ready for `dev`
- As Greg said, creating a `ci-` multidev, and running tests again on merge to `master` is slow
- If the tests pass on the multidev for the pull request, and the PR branch is kept up-to-date with `master`,

[2019-10-11 15:24] aaronbauman commented on #45
Thanks for all the background.
This reasoning makes perfect sense to me.

I think we went right from 4.x to 6.x, which explains how I missed it (because I definitely always read release notes and READMEs thoroughly ;-)

I'm not sure exactly what else, if anything, should be documented. It has taken me a while to wrap my brain around all the moving parts and how they work together: docker + terminu

[2019-10-11 15:32] ataylorme commented on #45
Thanks for the feedback. Once I have a version of the updated guide ready for review I'll let you know. There are a lot of moving parts and it is quite complex.

I'm thinking in addition to the getting started steps in the current guide expanding it to have an advanced section that describes the CI steps/scripts in more detail and explains how the Dockerfile fits in.

[2019-10-11 17:35] ataylorme commented on #45
@aaronbauman you can view a preview of the in-progress guide update [here](https://5151build-static-docs.pantheonsite.io/docs/guides/build-tools)

So far, only the first two sections (introduction and create project) have been updated.

If you have any feedback on those, I'd love to hear it. Feel free to post comments to the [docs pull request](https://github.com/pantheon-systems/documentation/pul

[2019-10-23 15:44] ataylorme opened #46 "Add Terminus CLU plugin"
[CLU](https://github.com/danielbachhuber/composer-lock-updater) only supports GitHub and GitLab, not BitBucket.

The [Terminus CLU plugin](https://github.com/pantheon-systems/terminus-clu-plugin) has the same functionality and supports all 3 providers. It is also Pantheon owned and should be used instead of CLU, though CLU will probably be kept in this image for backward compatibility purposes.

[2019-10-24 19:10] #46 closed, assigned to ataylorme

[2019-10-31 17:42] aaronbauman opened #49 "Thoughts on managing CI tooling? Maybe using bitbucket pipes?"
ref: https://confluence.atlassian.com/bitbucket/how-to-write-a-pipe-for-bitbucket-pipelines-966051288.html

I'm finding that, as the volume of CI projects we're managing grows, the proliferation of CI scripts is quickly becoming unweildy. It's not practical for my team to support an entirely decoupled CI stack for every new project. If there were a way that my CI-related devops tooling could inher

[2019-10-31 18:17] ataylorme commented on #49
The Pantheon `example-*-composer` repositories include bash scripts intentionally, rather than putting them in a Dockerfile, so that folks new to the process can easily see them and learn.

@aaronbauman creating a custom Dockerfile with shared scripts is a good way to go for folks who know how CI works and want to use it in multiple projects.

The [Dockerfile `FROM` syntax](https://docs.docker.com

[2019-10-31 18:18] aaronbauman commented on #49
Thanks for the input. I will try it out and let you know.

[2019-11-14 15:20] nelsonamaya82 commented on #49
Hi @aaronbauman, I'm also trying to optimize my CI workflow with a a custom Dockerfile or any other solution, I use Bitbucket too. Did you try out BitBucket pipes to do this? Thanks!

[2019-11-15 14:57] aaronbauman commented on #49
I haven't had time to test this out yet, no.

[2019-11-15 20:41] nelsonamaya82 commented on #49
Thanks. I'm testing it but I don't quite understand the difference between a custom Pipe and a custom Docker Image, are there any advantages of using Pipes over Images?

[2019-11-15 21:09] aaronbauman commented on #49
Seems like Pipes are meant to be more modular.
But they appear to be Docker images with some additional decoration, so I guess you could use either to achieve the same results.

[2019-11-17 20:41] nelsonamaya82 commented on #49
Great, thanks @aaronbauman.

[2020-01-29 19:38] nlighteneddesign opened #51 "The most recent commit for 6.x breaks build process."
The following commit: 4dc7a737984f54c280a5e16f2e7e551a6c0365e0
breaks the node-sass implementation for a client's deployment process.

Since there are no releases there was no way to roll back the container and I was forced to switch back to the nodejs tag.

Here are the CI errors:
error /home/tester/web/themes/custom_theme/node_modules/bourbon-neat/node_modules/node-sass: Command failed.

[2020-01-29 21:01] greg-1-anderson commented on #51
I think that the real problem here is that our container does not provide strong control over which version of the node container you get. The above commit has no relationship to node; backing it out would not solve the problem, as the cause is probably due to the fact that a different parent container was selected due to upstream changes.

It's probably better, wherever possible, to run your node

[2020-04-01 14:22] davereid opened #52 "Any way to run apt to install new tools in CircleCI?"
I'd like to use this image when running things that require terminus in our CircleCI builds. But we have a need to run `sudo apt update -y && sudo apt install -y dnsutils` to grab our environment's log files as per https://pantheon.io/docs/logs#automate-downloading-logs. Maybe dnsutils could be provided in the build image by default?

[2020-04-08 21:25] stevector commented on #52
Hi @davereid! I opened https://github.com/pantheon-systems/docker-build-tools-ci/pull/53

[2020-04-09 01:21] greg-1-anderson commented on #52
Pushed to the 6.x branch. Feedback appreciated.

[2020-04-09 16:14] davereid commented on #52
We were able to work around the original issue by replacing the `dig` command with `getent hosts` and `awk` which worked out of the box.

[code]

While adding dnsutils solves the original issue (awesome, thanks for the quick fix!), I think it's still a valid point that if anything else comes up, the container is set to use an unprivileged user which cannot run anything with sudo. That seems odd co

[2020-04-09 17:58] davereid commented on #52
For example, I ran into issues mounting a prepared workspace in CircleCI to the /var/www/html directory in this Docker image, like we do in all of our other jobs. But because it was owned by the www-data user, the tester user does not have access to modify that directory.

[2020-05-18 21:21] brooke-heaton opened #54 "Add imagick php extension"
The imagick php extension is used to create images for instance for a PDF thumbnail preview. It is a dependency of some Drupal modules.

[2020-05-28 16:09] davereid opened #58 "Consider making Docker image available on Github's Docker registry"
quay.io has had [significant downtime in the last two weeks](https://status.quay.io/history), which affects our ability to push code to Pantheon for Drupal 8 projects with CircleCI, which is a critical task. I would ask to consider making this project's Docker images available using Github's Docker registry: https://help.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/con

[2020-05-28 16:22] greg-1-anderson commented on #58
Yeah I have been considering this. Quay's extended downtime incidents have been a serious impediment lately.

[2020-05-28 16:31] davereid commented on #58
Yeah, at least if Github is down for some reason, we're not going to be pushing code at all anyway.

[2020-05-28 16:47] dnackers commented on #58
We're experiencing the same pain points @davereid outlines above.  We rely heavily on the Drupal8 + CircleCI workflow and have been forced to develop workarounds the past couple weeks.

[2020-07-09 23:17] jameswilson opened #59 "Expose environment security lock user/pass for automated tests"
Visual regression tests fail when comparing against a locked Dev environment because the `DEV_SITE_URL` environment variable does not include the HTTP Basic Authentication username and password.

This line is where visual regression tests need the correct URL

https://github.com/pantheon-systems/example-drops-8-composer/blob/master/.ci/test/visual-regression/backstopConfig.js#L2

This line is wher

[2020-07-10 00:09] greg-1-anderson commented on #59
Having the build tools scripts look up the basic auth credentials on the fly seems too complicated to me.

It seems more tenable to use a single well-known username and password for all environments. If you did this, then we could have the build scripts check for a single environment variable that you could set in the Circle admin interface.

I don't think that you need to worry about the "unlocke

[2020-07-16 21:37] jameswilson commented on #59
I get where you're coming from. However these variables are exposed in your UI per environment. So an unwitting webmaster or dev team member could come and change or remove the security lock info on an environment, breaking their dev team's setup.

As of today, the only piece that is "required" is the user/pass for the dev environment — which is currently hardcoded into the visual regression test

[2020-07-16 21:48] greg-1-anderson commented on #59
At the end of the day, these test scripts are just examples; you can alter them as you wish to suit your own purposes.

I don't want to add the lock environment checks to set-environment, but I'd accept a PR that allowed an environment variable or variables to be set in CircleCI to provide authentication credentials to be used in the SUT URL.

I'd accept a PR to facilitate populating those variabl

[2020-07-16 21:50] jameswilson commented on #59
So something like these four lines of code:

[code]

[2020-07-16 21:54] jameswilson commented on #59
Apologies. was writing this while you posted.   So something like this?

[code]

Will need to check elsewhere to see if there is a better pattern to follow for the environment variable name.

[2020-07-16 22:14] jameswilson commented on #54
According to https://pantheon.io/docs/external-libraries

[2020-07-16 22:31] jameswilson commented on #59
The existing variable naming conventions are documented here:

https://github.com/pantheon-systems/example-drops-8-composer/blob/5073f9f439867d2e09112636a8a7c391f09af3e3/.circleci/config.yml#L13-L20

[code]

It's not entirely clear if the TEST_SITE_NAME implies any relationship to the actual test environment on Pantheon, but so if it does, I'm thinking the name should be `DEV_SITE_BASIC_AUTH`, and

[2020-07-16 22:35] jameswilson commented on #59
I like this idea too, but it feels like this would be a common enough problem for folks to have an in-built way to handle this straight during their initial site setup, instead of having to figure out how to add an `.env` file with the appropriately named variables to override the `DEV_SITE_URL` environment variable.  Perhaps this could be filed as a follow-up issue though, it could be helpful for

[2020-07-16 22:41] jameswilson commented on #59
Doh. Ignore this. If I understand correctly, I think this is the site_name variable used when installing Drupal from scratch — a totally separate matter. Though tbh, I'm not sure when a from-scratch install is done, as all our multidev environments created from PRs just clone the database from dev.

[2020-07-16 22:57] greg-1-anderson commented on #59
Early versions of the Build Tools workflow did a site install at the beginning of each test, with the expectation that the agency would build fixtures to test their sites. In practice, it seems that almost everyone wants to just test from a database cloned from an actual instance of their site, so we moved away from this.

[2020-07-16 23:01] greg-1-anderson commented on #59
I think the common case here is to have documentation that tells users what environment variable to set in CircleCI to specify their http basic auth credentials to use in testing.

[2020-07-16 23:30] jameswilson commented on #59
@greg-1-anderson there you go.  two PRs for your consideration.

[2020-07-17 04:07] jameswilson commented on #59
So I've run the CircleCI test suite on a PR branch that was failing, and the visual regression test console output does appear to be reporting URLs with the Basic Auth included (and even masked!) which is a good thing:

**Before:**
[code]

**After:**
[code]

However, later on in the script, I'm still getting failures in the visual comparison steps:

[code]

The screenshots uploaded to the CircleCI

[2020-07-17 04:24] jameswilson commented on #59
Ah. I think I know what is going on.  We're using a vanity domain on the dev and test environments, and have added custom redirect logic in settings.php to forward from the pantheonsite.io urls to the vanity domain environments, more or less following the code snippet here https://pantheon.io/docs/redirects#redirect-with-php

In a web browser, when i access pantheonsite.io dev environment, I'm pro

[2020-07-17 05:11] jameswilson commented on #59
Okay. yes. that was the issue. And I've resolved it by forwarding the user/pass to the vanity domain ;with the following snippet:

[code]

I think this functionality is working as expected now.  Thanks for bearing with me.

[2020-07-20 02:09] greg-1-anderson commented on #54
Why does this docker image need imagick? The Drupal site does not run on CircleCI.

[2020-08-27 22:42] GuyPaddock opened #61 "Combine RUN statements and leverage caching more strategically"
In both the 5.x and 6.x images, there is a lot of opportunity to combine RUN statements and leverage the Docker layer cache more strategically.

For example, this command alone kills the ability to cache layers for all following commands if _any_ file in the local directory is changed:
[code]

And commands like this create one layer per statement:
[code]

...when really this could be combined into

[2020-08-27 22:48] GuyPaddock opened #62 "Why install libsodium on PHP 7.3?"
It seems like libsodium should already be available in PHP core as of PHP 7.2, so is it really necessary to install it?

Per: https://lukasmestan.com/install-libsodium-extension-in-php7/

This caught my attention because when I combine:
[code]

into:
[code]

,,, then I get:
[code]

[2020-09-19 02:18] sagannotcarl opened #64 "Circleci scheduled_update_check failing with sh: 1: set: Illegal option -o pipefail since last commit"
Starting with pull request #63 my circleci scheduled_update_check task has been failing with the error `sh: 1: set: Illegal option -o pipefail`. All passes before the image was updated and all fails since.

The timing seems to be related to #63 which brings in the changes from https://github.com/pantheon-systems/terminus-clu-plugin/pull/9.

As far as I gotten debugging it is that it's a sh/bash is

[2020-09-19 06:27] greg-1-anderson commented on #64
Looks like clu might have added `set -o pipefail &&` before the `composer update` command, and this is perhaps incompatible with the shell we are using in our Docker container.

We could roll back to a working version of clu, or maybe try to use a different shell in our container.

[2020-09-19 06:44] sagannotcarl commented on #64
clu is tracking this issue here: https://github.com/pantheon-systems/terminus-clu-plugin/issues/8

[2020-09-21 13:20] aaronbauman commented on #64
I just merged https://github.com/pantheon-systems/terminus-clu-plugin/pull/10 which has resolved the issue for me.

Will tag a new release shortly

[2020-09-22 14:09] davereid-pfg commented on #64
Ugh, I swear I had tested this in our CircleCI container, but not through the command. Thanks for the follow-up @aaronbauman.

[2020-09-22 14:29] #64 closed, assigned to nobody

[2020-09-23 02:04] sagannotcarl commented on #64
Circleci scheduled_update_check working again! Thanks!

[2020-11-12 22:08] stevector opened #66 "Switch to Composer 2"
Composer 2 can run `composer install` significantly faster than Composer 1. Switching to Composer 2 in this container will greatly speed up build for projects using the container.

This switch probably warrants a major version bump.

[2021-03-22 20:52] jpkarvonen commented on #58
Any progress on this? Quay is down at the time of posting this comment, so this issue is top of mind.

[2021-04-07 14:14] scottsawyer opened #69 "Add PHP Soap to dockerfile"
Our build is failing because commerce_fedex requires the php soap extension.

`drupal/commerce_fedex 1.0.0-beta2 requires ext-soap * -> the requested PHP extension soap is missing from your system.`

If there is another way to add that extension from our build step, please advise.

[2021-04-19 16:30] #69 closed, assigned to nobody

[2021-05-28 03:28] mdlutz24 opened #72 "Environment setup sets project name to the string "CIRCLE_PROJECT_REPONAME" if CI_PROJECT_NAME environmental variable is missing"
A missing dollar sign in the set-environment script prevents using the default circle ci reponame from being used as the project name requiring CI_PROJECT_NAME to need to be set manually in Circle.

[2021-05-28 03:37] mdlutz24 commented on #72
Fixed with #73

[2021-06-09 02:10] alesub opened #76 "WordPress is now asking for a minimum version of PHP 7.4"
Hi,

We're using "build tools" with CircleCI to setup WordPress projects at Pantheon, but now WordPress is asking for 7.4 as a minimum version of PHP. Is it possible to upgrade the PHP version of this image? Otherwise the "build_php" step is failing at CircleCI after it finds this image runs PHP 7.3 while on composer.json and pantheon.yml we're declaring PHP 7.4.

Thanks!

[2021-06-17 20:37] stovak opened #77 "Create a version of the Build Tools utilizing PHP 7.4."
Implementation of Pantheon Internal CMS-21.

[2021-06-17 20:44] stovak opened #78 "Create a version of the Build Tools utilizing PHP 8.0"
Implementation of Pantheon Internal CMS-21.

[2021-06-17 20:44] stovak commented on #78
requirements:
- Integration with quay so it builds new images automatically
- Composer 2
- pcov module for PHP unit test coverage data without xdebug
- GitHub Actions CI template in the repo for people to add to their drupal installs (not sure how those templates work)

[2021-06-17 20:45] stovak commented on #77
requirements:
- Integration with quay so it builds new images automatically
- Composer 2
- pcov module for PHP unit test coverage data without xdebug
- GitHub Actions CI template in the repo for people to add to their drupal installs (not sure how those templates work)

[2021-06-17 20:48] stovak commented on #77
Here are my changes... use what you care to: https://github.com/stovak/docker-build-tools-ci

[2021-06-18 03:00] kporras07 commented on #77
Hi @stovak I started working on this. WIP at https://github.com/pantheon-systems/docker-build-tools-ci/compare/6.x...kporras07:7.4.x?expand=1

Questions:
1) Should I create a new branch or PR against 6.x branch? If new, what name?
2) Quay.io: should I setup automatic build for all branches? This could be done directly in quay.io. I think I have the access level needed for this.

Please let me know

[2021-06-18 03:28] stovak commented on #77
1. Yes create two new branches based on 6.x's latest commit, php 7.4 and 8.
2. only set up CI on the new branches for the moment. If we need to backport we will.

[2021-06-23 07:36] sagannotcarl commented on #66
I've started getting the following error when using composer:

[code]

I've been stalling on updating to composer 2 locally because my scheduled_update_check circleci job just reverts the lockfile to the composer 1 style.

[2021-09-21 01:55] kporras07 commented on #45
Reading at this issue history I think it can be closed now. Please reopen or create a new one for further discussion if needed.

[2021-09-21 01:55] #45 closed, assigned to nobody

[2021-09-21 02:01] kporras07 commented on #33
A warning message was added to prevent people do the reinstall but I think that's something we should keep supporting for complex use cases (e.g. current circleci-orb) or even getting an updated version of the plugin when a new image has not been released.

I'm closing this, feel free to reopen/create new issue if further discussion is needed

[2021-09-21 02:01] #33 closed, assigned to nobody

[2021-09-21 02:03] kporras07 commented on #36
This seems to be fixed so I'm closing this issue. Feel free to reopen/create a new one if further discussion is needed :)

[2021-09-21 02:03] #36 closed, assigned to nobody

[2021-09-21 02:06] kporras07 commented on #51
Closing as Greg's comment suggests a good fix without any change needed in this repo. Feel free to reopen if needed.

[2021-09-21 02:06] #51 closed, assigned to nobody

[2021-09-21 02:09] kporras07 commented on #59
This seems to be solved now. Feel free to reopen if further discussion is needed :)

[2021-09-21 02:09] #59 closed, assigned to nobody

[2021-10-01 20:09] kporras07 commented on #78
Pushed as 7.x-php8.0

[2021-10-01 20:09] #78 closed, assigned to kporras07

[2021-10-01 20:10] kporras07 commented on #77
Pushed as 7.x-php7.4

[2021-10-01 20:10] #77 closed, assigned to kporras07

[2021-10-01 20:12] kporras07 commented on #66
This was done in 7.x branch and pushed both to PHP 7.4 and 8.0 version images

[2021-10-01 20:12] #66 closed, assigned to nobody

[2021-10-01 20:14] kporras07 commented on #76
Hi,
We recently pushed a new version with some improvements. Docker image tag is "7.x-php7.4". Please give it a try

[2021-10-01 20:26] kporras07 commented on #58
We recently pushed this image to DockerHub as an alternate registry: https://hub.docker.com/repository/docker/pantheonpublic/build-tools-ci

[2021-10-01 20:26] #58 closed, assigned to nobody

[2021-12-16 16:42] CdrMarks opened #88 "8.x-php8.0 fails to login to Pantheon"
See https://app.circleci.com/pipelines/github/pantheon-systems/pantheon_advanced_page_cache/639/workflows/261bdd07-5d61-4b49-9ec5-8f8e3e86001c/jobs/1906

[code]

[2021-12-16 18:25] davereid-pfg commented on #88
Looksl ike this is fixed with https://github.com/pantheon-systems/pantheon_advanced_page_cache/pull/33

[2021-12-16 19:16] CdrMarks commented on #88
Steve and I ended up going with `quay.io/pantheon-public/build-tools-ci:7.x`.

This bug still occurs when using the 8.x-php8.0 image.
See: https://github.com/pantheon-systems/pantheon_advanced_page_cache/commit/f2f7e54355187ea449610af34125acb4b2c0a39b

[2022-01-08 12:52] ptmkenny opened #89 "How to use PHP 8.0 with Build Tools 2.x?"
I have a Build Tools 2.x repo that I attempted to upgrade to PHP 8.0.

First, I updated my pantheon Drupal install to PHP 8.0 and `pantheon.yml`.  No problem.

Next, I switched from `https://github.com/pantheon-systems/docker-build-tools-ci/tree/7.x-php7.4' to `php8.0`.

CircleCI crashes hard during the "deploy to pantheon" step with ~98 MB of terminus deprecation errors like this:

`Deprecated: M

[2022-01-11 15:33] aaronbauman opened #90 "circleci images deprecated"
As of 12/31/2021, circleci images are superseded by cimg images.
Not exactly sure what this means for downstream images like this one, but seems important?

refs:
https://circleci.com/docs/2.0/circleci-images/
https://discuss.circleci.com/t/legacy-convenience-image-deprecation/41034
https://circleci.com/developer/images/image/cimg/php

[2022-04-07 15:20] jedihe commented on #89
I managed to update a CircleCI build process to use 7.x-php8.0@5cd91837e47f by doing a composer update before trying to use terminus:

[code]

[2022-07-14 08:15] mergims opened #102 "PHP 8.1 support?"
No image available that supports PHP 8.1 yet. Any plans on this?

[2022-07-14 13:00] greg-1-anderson commented on #102
We do not recommend PHP 8.1 on Pantheon yet due to a bug in mysqlproxy. A fix is in the works. Once PHP 8.1 is supported on the platform, we will provide an 8.1 image here as well.

[2022-09-20 08:20] mergims commented on #102
@greg-1-anderson is there still a bug with mysqlproxy?

[2022-09-23 19:22] wilburec commented on #102
Also wondering why this is so out of date.  Thanks!

[2022-09-26 17:56] brooke-heaton commented on #102
Any updates on this? Our build process is currently stuck.

[2022-09-26 18:00] greg-1-anderson commented on #102
PHP 8.1 is now supported on Pantheon. We don't have a specific ETA for creating a Build Tools image.

[2022-09-26 18:04] greg-1-anderson commented on #102
Tracking internally as FEAT-696

[2022-09-28 21:22] kporras07 commented on #102
New image tag is ready: 8.x-php8.1

[2022-09-28 21:22] #102 closed, assigned to nobody